<% provide(:title, "Edit Assignment") %>
<h1>Edit Assignment</h1>

<div class="row">
      <div class="span6 offset3">
            <%= form_for(@assignment) do |f| %>
                	<%= render 'shared/error_messages' %>
            
                  <%= f.label :title, "Job Title" %>
                  <%= f.text_field :title %>
                  
                  <%= f.label :description, "Role Description" %>
                  <%= f.text_area :description, size: "24x6", message: "Enter role description here" %>
            
                  <%= f.label :department_id, "Department" %>
                  <%= f.collection_select(:department_id, Department.all, :id, :full_name) %>

                  <%= f.label :band, "Grade/Band" %>
                  <%= f.text_field :band %>

                  <%= f.label :start_date, "Start Date" %>
                  <%= f.text_field :start_date %>

                  <%= f.label :length, "Assignment length" %>
                  <%= f.select :length, ["3 months", "6 months", "12 months"] %>
            
                  <% if params[:action] == "new" %>
                        <%= f.submit "Create Assignment", class: "btn btn-large btn-primary" %>
                  <% else %>
                        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
                  <% end %>
            <% end %>
      </div>
</div>