<% provide(:title, "Assignment at #{@assignment.department.abbreviation}") %>

<div class="row">
    <div class="span6 offset3">
    	<h1>
        	<%= @assignment.title %>
        </h1>
        <p> <%= @assignment.description %> </p>
        <p> <%= @assignment.band %> </p>
        <p> <%= @assignment.start_date %> </p>
        <p> <%= @assignment.length %> </p>
        <div class="row">
        	<div class="span2">
        <%= mail_to @assignment.user.email, "Contact Manager", class: "btn btn-primary" %>
        	</div>
        <% if @assignment.user == current_user %>
        	<div class="span4">
        		<%= link_to "Delete Post", @assignment, method: :delete, data: { confirm: "Are you sure you want to delete the assignment, it can not be retreived" }, class: "btn btn-danger pull-right" %>
        		<%= link_to "Edit", edit_assignment_path(@assignment), class: "btn btn-warning pull-right"%>
        	</div>
        <% end %>
    	</div>
    </div>
</div>
